In [1]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import MinMaxScaler,StandardScaler,RobustScaler,MaxAbsScaler

In [2]:
minmax_df = pd.DataFrame({
    'Age': np.random.randint(18, 60, 100),
    'Salary': np.random.randint(15000, 250000, 100),
    'Experience_Years': np.random.randint(0, 35, 100),
    'Score': np.random.randint(30, 100, 100)
})

MinMax Scaling

In [3]:
minmax_df.head()

   Age  Salary  Experience_Years  Score
0   35  218329                33     73
1   39  247114                 0     58
2   34   51178                 4     98
3   25   80822                23     80
4   48  229473                12     55

In [4]:
mms = MinMaxScaler().fit_transform(minmax_df)

In [6]:
mms_df = pd.DataFrame(mms, columns=minmax_df.columns)

In [7]:
mms_df.head()

        Age    Salary  Experience_Years     Score
0  0.414634  0.865291          0.970588  0.626866
1  0.512195  0.990536          0.000000  0.402985
2  0.390244  0.138007          0.117647  1.000000
3  0.170732  0.266990          0.676471  0.731343
4  0.731707  0.913779          0.352941  0.358209

Standard Scalar

In [8]:
standard_df = pd.DataFrame({
    'Temperature': np.random.normal(25, 5, 100),
    'Humidity': np.random.normal(60, 10, 100),
    'Pressure': np.random.normal(1015, 8, 100),
    'Wind_Speed': np.random.normal(10, 3, 100)
})

In [9]:
standard_df.head()

   Temperature   Humidity     Pressure  Wind_Speed
0    18.644352  73.005852  1023.438284    7.047193
1    19.131290  71.709781  1020.707040   14.619261
2    24.280040  57.103741  1010.850608    5.101664
3    17.790377  55.108020  1024.166222   14.353624
4    24.951072  75.556784  1018.284142    8.159761

In [10]:
ss =  StandardScaler().fit_transform(standard_df)

In [11]:
ss_df = pd.DataFrame(ss,columns=standard_df.columns)

In [12]:
ss_df.head()

   Temperature  Humidity  Pressure  Wind_Speed
0    -1.355031  1.116855  1.155265   -1.150408
1    -1.250183  0.994547  0.819904    1.329385
2    -0.141550 -0.383799 -0.390337   -1.787553
3    -1.538910 -0.572131  1.244646    1.242390
4     0.002937  1.357582  0.522404   -0.786051

Robust Scaling

In [13]:
robust_data = np.random.normal(500, 30, 95)
outliers = np.array([2000, 2500, 3000, 3500, 4000])

robust_df = pd.DataFrame({
    'Transaction_Amount': np.concatenate([robust_data, outliers])
})

In [14]:
robust_df

    Transaction_Amount
0           459.747758
1           505.760858
2           527.923380
3           495.807044
4           510.596646
..                 ...
95         2000.000000
96         2500.000000
97         3000.000000
98         3500.000000
99         4000.000000

[100 rows x 1 columns]

In [15]:
rs = RobustScaler().fit_transform(robust_df)

In [16]:
rs_df = pd.DataFrame(rs,columns=robust_df.columns)

In [17]:
rs_df.head()

   Transaction_Amount
0           -1.204081
1           -0.031069
2            0.533920
3           -0.284822
4            0.092209

Max Absolute Scalar

In [18]:
maxabs_df = pd.DataFrame({
    'Signal_1': np.random.randint(-300, 300, 100),
    'Signal_2': np.random.randint(-500, 500, 100),
    'Signal_3': np.random.randint(-800, 800, 100)
})

In [20]:
maxabs_df.head()

   Signal_1  Signal_2  Signal_3
0      -193       469       550
1       152      -222      -461
2        19      -470       346
3       198       164      -491
4      -151        88      -317

In [22]:
mas = MaxAbsScaler().fit_transform(maxabs_df)

In [23]:
mas_df = pd.DataFrame(mas,columns=maxabs_df.columns)

In [24]:
mas_df.head()

   Signal_1  Signal_2  Signal_3
0 -0.649832  0.947475  0.691824
1  0.511785 -0.448485 -0.579874
2  0.063973 -0.949495  0.435220
3  0.666667  0.331313 -0.617610
4 -0.508418  0.177778 -0.398742